/* обнуляющий стиль */
*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

}


:focus,:active{outline:none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 62.5%; /* 62.5% от 16px = 10px для rem */
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/* центрируем */

body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 1.8rem;
}

.wrapper {
   max-width: 120rem;
   margin: 0 auto;
   padding: 0 1rem;
}

/* header */
.header {
	padding: 0 2rem;
   background-color: #ede8ec;
}

.header__nav-list {
	display: flex;
	justify-content: space-between;
}

.header__nav-item {
	padding: 1.5rem;
	font-size: 2rem;
}

.header__nav-item a {
	color: inherit;
}

.header__nav-item:hover {
	color: #ffff;
	background-color: #77759c;
}

/* медиа запрос */
@media (max-width: 768px) {
	.header {
		padding: 0;
	}

	.header__nav-list {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}

	.header__nav-item {
		width: 100%;
		text-align: center;
	}
}

/* intro */
.intro {
	display: flex;
	align-items: center;
	gap: 3rem;
	margin: 1.5rem 0;
	padding: 0.5rem;
	border: 4px solid #77759c;
	
}

.intro__photo img {
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
}

.intro__info {
	
}

.intro__name {
	font-size: 3.6rem;
	margin-bottom: 0.5rem;
}

.intro__title {
	font-size: 2.4rem;
	text-decoration: underline;
	margin-bottom: 2rem;
}

.contact {
	
}

/* скрываем заголовок */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact__list {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contact__description {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
   .intro {
        flex-direction: column;
        text-align: center;
		  gap: 1rem;
		  padding: 0.5rem;
   }

	.intro__photo {
		margin-bottom: 1.5rem;
	}

	.intro__photo img {
		width: 20rem;
		height: 20rem;
	}

	.contact__item {
		align-self: flex-start;
	}
}

/* main*/
.main {
	margin-bottom: 0.5rem ;
}

.main__content {
	display: flex;
	gap: 0.5rem

}

.main__column_left {
	flex: 0 0 35%;
	background-color: #ede8ec;
}

.main__title {
	padding: 1rem 2rem;
	font-size: 2rem;
	color: #ffff;
	background-color: #77759c;
}

.skills__list {
	
}

.main__section {
	padding: 2rem;
}

.skills__item {
	margin-bottom: 1rem;
}

.checkmark {
	width: 20px;
	height: 20px;
	fill: #77759c;
}
.checkmark path.check {
	fill: none;
	stroke: white;
	stroke-width: 3;
}

.main__column_right {
	
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	background-color: #ede8ec;
}